<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <main
      class="p-[20px] md:p-[40px] lg:py-[60px] lg:px-[80px] bg-slate-50 noto-sans"
    >
      <div class="flex flex-col gap-8">
        <div class="title text-center flex flex-col gap-4">
          <h1 class="text-5xl font-extrabold text-indigo-950">
            Trường Đại học Công nghệ Thông tin
          </h1>
          <h2 class="text-3xl font-bold">
            Khóa luận Tốt nghiệp - Khóa HTTT2020
          </h2>
          <h3 class="text-xl font-semibold text-indigo-900">
            OPTICAL COHERENCE TOMOGRAPHY (OCT) SCAN CLASSIFICATION <br />
            USING DEEP NEURAL NETWORK
          </h3>
        </div>
        <div
          class="border-black border-4 border-double p-10 rounded-3xl text-lg flex flex-col gap-8"
        >
        <div class="grid grid-cols-2 gap-4">
          <div class="text-2xl font-semibold text-indigo-600">
            Chọn mô hình phân loại
          </div>
          <div class="grid grid-cols-2 gap-4">

            <div class="flex justify-end border-b border-indigo-900">
              <a
                class="cursor-pointer hover:font-semibold flex items-center"
                onclick="selectedAll()"
              >
                <span>
                  <svg
                    class="w-4 h-4 mr-1"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                  >
                    <path
                      d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
                    />
                  </svg>
                </span>
                <span>Chọn tất cả</span>
              </a>
            </div>

            <div class="border-b border-indigo-900">
              <a
                class="cursor-pointer hover:font-semibold flex items-center"
                onclick="clearAll()"
              >
                <span>
                  <svg
                    class="w-4 h-4 mr-1"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      d="M463.5 224H472c13.3 0 24-10.7 24-24V72c0-9.7-5.8-18.5-14.8-22.2s-19.3-1.7-26.2 5.2L413.4 96.6c-87.6-86.5-228.7-86.2-315.8 1c-87.5 87.5-87.5 229.3 0 316.8s229.3 87.5 316.8 0c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0c-62.5 62.5-163.8 62.5-226.3 0s-62.5-163.8 0-226.3c62.2-62.2 162.7-62.5 225.3-1L327 183c-6.9 6.9-8.9 17.2-5.2 26.2s12.5 14.8 22.2 14.8H463.5z"
                    />
                  </svg>
                </span>
                <span>Làm sạch</span>
              </a>
            </div>
          </div>
        </div>
          <form
            class="flex flex-col gap-5"
            action="/predict"
            method="POST"
            id="ensemble-classification"
            enctype="multipart/form-data"
            onsubmit="return validateForm()"
          >
            <!-- Radio button group -->
            <div class="grid grid-cols-2 gap-4">
              <div hidden>
                <input
                  type="radio"
                  class="w-4 h-4"
                  name="selected"
                  id="model"
                  value="model"
                  checked
                  onchange="toggleModelGroup()"
                />
                <label for="model" class="font-semibold text-indigo-900 text-xl"
                  >Mô hình</label
                >
              </div>
              <div hidden>
                <input
                  type="radio"
                  class="w-4 h-4"
                  name="selected"
                  id="ensemble"
                  value="ensemble"
                  onchange="toggleModelGroup()"
                />
                <label
                  for="ensemble"
                  class="font-semibold text-indigo-900 text-xl"
                  >Kết hợp hàm thứ hạng mờ</label
                >
              </div>
            </div>
            <!-- model -->
            <div
              id="modelDiv"
              class="grid grid-cols-4 gap-4 bg-indigo-100 border-l-4 border-indigo-500 p-5"
            >
              <div>
                <input
                  type="checkbox"
                  class="w-4 h-4"
                  name="modelGroup"
                  id="Inception-V3"
                  value="Inception-V3"
                />
                <label for="Inception-V3" class="text-xl">Inception-V3</label>
              </div>

              <div>
                <input
                  type="checkbox"
                  class="w-4 h-4"
                  name="modelGroup"
                  id="ResNet50"
                  value="ResNet50"
                />
                <label for="ResNet50" class="text-xl">ResNet50</label>
              </div>

              <div>
                <input
                  type="checkbox"
                  class="w-4 h-4"
                  name="modelGroup"
                  id="DenseNet201"
                  value="DenseNet201"
                />
                <label for="DenseNet201" class="text-xl">DenseNet201</label>
              </div>
              <div>
                <input
                  type="checkbox"
                  class="w-4 h-4"
                  name="modelGroup"
                  id="EfficientNet-B3"
                  value="EfficientNet-B3"
                />
                <label for="EfficientNet-B3" class="text-xl"
                  >EfficientNet-B3</label
                >
              </div>
            </div>

            <!-- ensemble -->
            <div
              id="ensembleDiv"
              class="hidden grid grid-cols-2 gap-4 bg-indigo-100 border-l-4 border-indigo-500 p-5"
            >
              <!-- 1 -->
              <div>
                <input
                  type="checkbox"
                  class="w-4 h-4"
                  name="ensembleGroup"
                  id="DefaultGompertz"
                  value="DefaultGompertz"
                />
                <label for="DefaultGompertz" class="text-xl"
                  >Gompertz (Go)</label
                >
              </div>
              <!-- 2 -->
              <div>
                <input
                  type="checkbox"
                  class="w-4 h-4"
                  name="ensembleGroup"
                  id="DefaultExponential"
                  value="DefaultExponential"
                />
                <label for="DefaultExponential" class="text-xl"
                  >Exponential (Ex)</label
                >
              </div>
              <!-- 3 -->
              <div>
                <input
                  type="checkbox"
                  class="w-4 h-4"
                  name="ensembleGroup"
                  id="ExponentialTangent"
                  value="ExponentialTangent"
                />
                <label for="ExponentialTangent" class="text-xl"
                  >Exponential * Tangent (ExTan)
                </label>
              </div>
              <!-- 4 -->
              <div>
                <input
                  type="checkbox"
                  class="w-4 h-4"
                  name="ensembleGroup"
                  id="ExponentialTangentSigmoid"
                  value="ExponentialTangentSigmoid"
                />
                <label for="ExponentialTangentSigmoid" class="text-xl"
                  >Exponential * TanH * Sigmoid (ExTanSig)</label
                >
              </div>
              <!-- 5 -->
              <div>
                <input
                  type="checkbox"
                  class="w-4 h-4"
                  name="ensembleGroup"
                  id="DefaultMitscherlich"
                  value="DefaultMitscherlich"
                />
                <label for="DefaultMitscherlich" class="text-xl"
                  >Mitscherlich (Mi)</label
                >
              </div>
              <!-- 6 -->
              <div>
                <input
                  type="checkbox"
                  class="w-4 h-4"
                  name="ensembleGroup"
                  id="Gompertz"
                  value="Gompertz"
                />
                <label for="Gompertz" class="text-xl"
                  >Estimated Gompertz (EGo)</label
                >
              </div>
              <!-- 7 -->
              <div>
                <input
                  type="checkbox"
                  class="w-4 h-4"
                  name="ensembleGroup"
                  id="Gamma"
                  value="Gamma"
                />
                <label for="Gamma">Modified Gamma (MGa)</label>
              </div>
            </div>
            <div class="flex gap-4">
              <label class="font-semibold text-indigo-900 text-xl" for="pic"
                >Hình ảnh</label
              >
              <input
                type="file"
                name="image"
                id="imageInput"
                accept="image/*"
                onchange="displayImage(event)"
              />
            </div>
            <div
              id="imageLoader"
              class="flex justify-center items-center"
            ></div>

            <!-- Error -->
            <div
              class="bg-red-100 border border-l-4 border-red-500 text-red-700 px-4 py-3 rounded relative"
              role="alert"
              id="errorAlter"
              style="display: none"
            >
              <strong class="font-bold">Cảnh báo!</strong>
              <br />
              <span id="errorMessage" class="block sm:inline"></span>
              <span
                class="absolute top-0 bottom-0 right-0 px-4 py-3"
                onclick="hideErrorAlert()"
              >
                <svg
                  class="fill-current h-6 w-6 text-red-500"
                  role="button"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <title>Close</title>
                  <path
                    d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"
                  />
                </svg>
              </span>
            </div>

            <div class="dashed border-indigo-950 border-2 border-dashed"></div>
            <div>
              <button
                class="bg-indigo-400 border-2 text-white font-bold border-indigo-950 p-2 rounded-xl hover:bg-indigo-500"
                type="submit"
                form="ensemble-classification"
                value="submit"
              >
                Phân loại
              </button>
            </div>
          </form>
          <!-- <div class="dashed border-indigo-950 border-2 border-dashed"></div>
          <div class="result flex flex-col gap-4">
            <p>Kết quả</p>
            <textarea name="" id=""></textarea>
          </div> -->
        </div>
      </div>
    </main>
    <footer class="bg-indigo-200 noto-sans flex flex-col gap-4 text-center">
      <div class="grid grid-cols-4 gap-4 bg-indigo-100 p-3">
        <div class="col-span-2">
          <p
            class="text-lg text-indigo-900 font-bold underline decoration-dotted"
          >
            Phân lớp hình ảnh cắt lớp quang học võng mạc <br> sử dụng phương pháp học sâu
          </p>
          <p class="text-sm italic">TP.HCM, tháng 06 năm 2024</p>
        </div>
        <div>
          <p class="text-sm italic text-indigo-900">Nhóm sinh viên thực hiện:</p>
          <p class="text-base font-medium">Đoàn Tú Quỳnh - 20521825</p>
          <p class="text-base font-medium">Trần Ngọc Mỹ Phương - 20521779</p>
        </div>
        <div>
          <p class="text-sm italic text-indigo-900">Giảng viên hướng dẫn:</p>
          <p class="text-base font-medium">ThS. Dương Phi Long</p>
        </div>
      </div>
    </footer>

    <script>
      // Hiển thị kiểu phân loại
      function toggleModelGroup() {
        var modelDiv = document.getElementById("modelDiv");
        var ensembleDiv = document.getElementById("ensembleDiv");

        if (document.getElementById("model").checked) {
          ensembleDiv.classList.add("hidden");
        } else {
          ensembleDiv.classList.remove("hidden");
        }
      }

      // Chọn tất cả
      function selectedAll() {
        var modelCheckboxes = document.getElementsByName("modelGroup");
        for (var i = 0; i < modelCheckboxes.length; i++) {
          modelCheckboxes[i].checked = true;
        }
        if (document.getElementById("ensemble").checked) {
          var ensembleCheckboxes = document.getElementsByName("ensembleGroup");
          for (var i = 0; i < ensembleCheckboxes.length; i++) {
            ensembleCheckboxes[i].checked = true;
          }
        }
      }

      // Làm sạch
      function clearAll() {
        var modelCheckboxes = document.getElementsByName("modelGroup");
        for (var i = 0; i < modelCheckboxes.length; i++) {
          modelCheckboxes[i].checked = false;
        }

        if (document.getElementById("ensemble").checked) {
          var ensembleCheckboxes = document.getElementsByName("ensembleGroup");
          for (var i = 0; i < ensembleCheckboxes.length; i++) {
            ensembleCheckboxes[i].checked = false;
          }
        }
      }

      // Kiểm tra định dạng hình ảnh
      function displayImage(event) {
        var file = event.target.files[0];

        if (file) {
          var imageType = file.type.split("/")[0];
          if (imageType !== "image") {
            // Hiển thị phần tử errorAlert nếu nó đang bị ẩn
            var errorAlert = document.getElementById("errorAlter");
            errorAlert.style.display = "block";
            event.target.value = ""; // Xóa giá trị đã chọn
            var errorMessageElement = document.getElementById("errorMessage");
            errorMessageElement.textContent =
              "Vui lòng chọn tệp có định dạng hình ảnh";
          }
        }
        var imageLoader = document.getElementById("imageLoader");
        imageLoader.innerHTML = ""; // Xóa bỏ nội dung hiện tại (nếu có)

        var selectedImage = event.target.files[0];
        var imageElement = document.createElement("img");
        imageElement.src = URL.createObjectURL(selectedImage);
        imageElement.style.maxHeight = "400px"; // Tùy chỉnh kích thước hình ảnh

        imageLoader.appendChild(imageElement);
      }

      // Kiểm tra validate form request
      function validateForm() {
        var selected = document.querySelector('input[name="selected"]:checked');
        var selectedModels = document.querySelectorAll(
          'input[name="modelGroup"]:checked'
        );
        if (selected.value == "model") {
          if (selectedModels.length == 0) {
            // Hiển thị phần tử errorAlert nếu nó đang bị ẩn
            var errorAlert = document.getElementById("errorAlter");
            errorAlert.style.display = "block";
            event.target.value = ""; // Xóa giá trị đã chọn
            var errorMessageElement = document.getElementById("errorMessage");
            errorMessageElement.textContent = "Vui lòng chọn ít nhất 1 mô hình phân loại";
            return false;
          }
        }
        if (selected.value == "ensemble") {
          var selectedEnsembles = document.querySelectorAll(
            'input[name="ensembleGroup"]:checked'
          );
          if (selectedModels.length < 2) {
            // Hiển thị phần tử errorAlert nếu nó đang bị ẩn
            var errorAlert = document.getElementById("errorAlter");
            errorAlert.style.display = "block";
            event.target.value = ""; // Xóa giá trị đã chọn
            var errorMessageElement = document.getElementById("errorMessage");
            errorMessageElement.textContent = "Vui lòng chọn ít nhất 2 mô hình để kết hợp";
            return false;
          }
          if (selectedEnsembles.length == 0) {
            // Hiển thị phần tử errorAlert nếu nó đang bị ẩn
            var errorAlert = document.getElementById("errorAlter");
            errorAlert.style.display = "block";
            event.target.value = ""; // Xóa giá trị đã chọn
            var errorMessageElement = document.getElementById("errorMessage");
            errorMessageElement.textContent = "Vui lòng chọn ít nhất 1 hàm phân phối";
            return false;
          }
        }
        var imageInput = document.getElementById("imageInput");
        var selectedImage = imageInput.files[0];

        if (!selectedImage) {
          // Hiển thị phần tử errorAlert nếu nó đang bị ẩn
          var errorAlert = document.getElementById("errorAlter");
          errorAlert.style.display = "block";
          event.target.value = ""; // Xóa giá trị đã chọn
          var errorMessageElement = document.getElementById("errorMessage");
          errorMessageElement.textContent =
            "Vui lòng chọn hình ảnh muốn phân loại";
          return false;
        }
        return true;
      }
      function hideErrorAlert() {
        var errorAlert = document.getElementById("errorAlter");
        errorAlert.style.display = "none"; // Ẩn phần tử errorAlter
      }
    </script>
  </body>
</html>
