<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <style>
      .noto-sans {
        font-family: "Noto Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings: "wdth" 100;
      }

      .result-area {
        background-color: aliceblue;
      }
    </style>
  </head>
  <body>
    <main
      class="p-[20px] md:p-[40px] lg:py-[60px] lg:px-[80px] bg-orange-200 noto-sans"
    >
      <div class="flex flex-col gap-8">
        <div class="title text-center flex flex-col gap-4">
          <h1 class="text-5xl font-extrabold text-orange-950">
            Trường đại học Công nghệ thông tin
          </h1>
          <h2 class="text-3xl font-bold">
            Khóa luận tốt nghiệp - Khóa HTTT2020
          </h2>
          <h3 class="text-xl font-semibold text-orange-900">
            OPTICAL COHERENCE TOMOGRAPHY (OCT) SCAN CLASSIFICATION <br />
            USING DEEP NEURAL NETWORK
          </h3>
        </div>
        <div
          class="border-black border-4 border-double p-10 rounded-3xl text-lg flex flex-col gap-8"
        >
          <h3 class="text-2xl font-semibold text-orange-600">
            Chọn kiểu phân loại
          </h3>
          <form
            class="flex flex-col gap-5"
            action="/predict"
            method="POST"
            id="ensemble-classification"
            enctype="multipart/form-data"
            onsubmit="return validateForm()"
          >
            <!-- model -->
            <div>
              <input
                type="radio"
                class="w-4 h-4"
                name="selected"
                id="model"
                value="model"
                onchange="toggleModelGroup()"
              />
              <label for="model" class="font-semibold text-orange-900 text-xl"
                >Model</label
              >
              <div
                id="modelDiv"
                class="hidden grid grid-cols-4 gap-4 bg-orange-100 border-l-4 border-orange-500 p-5"
              >
                <div>
                  <input
                    type="checkbox"
                    class="w-4 h-4"
                    name="modelGroup"
                    id="Inception-V3"
                    value="Inception-V3"
                  />
                  <label for="Inception-V3" class="text-xl">Inception-V3</label>
                </div>

                <div>
                  <input
                    type="checkbox"
                    class="w-4 h-4"
                    name="modelGroup"
                    id="ResNet50"
                    value="ResNet50"
                  />
                  <label for="ResNet50" class="text-xl">ResNet50</label>
                </div>

                <div>
                  <input
                    type="checkbox"
                    class="w-4 h-4"
                    name="modelGroup"
                    id="DenseNet201"
                    value="DenseNet201"
                  />
                  <label for="DenseNet201" class="text-xl">DenseNet201</label>
                </div>
                <div>
                  <input
                    type="checkbox"
                    class="w-4 h-4"
                    name="modelGroup"
                    id="EfficientNet-B3"
                    value="EfficientNet-B3"
                  />
                  <label for="EfficientNet-B3" class="text-xl"
                    >EfficientNet-B3</label
                  >
                </div>
              </div>
            </div>

            <hr />
            <!-- ensemble -->
            <div>
              <input
                type="radio"
                class="w-4 h-4"
                name="selected"
                id="ensemble"
                value="ensemble"
                onchange="toggleModelGroup()"
              />
              <label
                for="ensemble"
                class="font-semibold text-orange-900 text-xl"
                >Ensemble Prediction</label
              >

              <div
                id="ensembleDiv"
                class="hidden grid grid-cols-3 gap-4 bg-orange-100 border-l-4 border-orange-500 p-5"
              >
                <div>
                  <input
                    type="checkbox"
                    class="w-4 h-4"
                    name="ensembleGroup"
                    id="DefaultGompertz"
                    value="DefaultGompertz"
                  />
                  <label for="DefaultGompertz" class="text-xl"
                    >Gompertz (Go)</label
                  >
                </div>
                <div>
                  <input
                    type="checkbox"
                    class="w-4 h-4"
                    name="ensembleGroup"
                    id="ExponentialTangent"
                    value="ExponentialTangent"
                  />
                  <label for="ExponentialTangent" class="text-xl"
                    >Exponential * Tangent (ExTan)
                  </label>
                </div>
                <div>
                  <input
                    type="checkbox"
                    class="w-4 h-4"
                    name="ensembleGroup"
                    id="DefaultExponential"
                    value="DefaultExponential"
                  />
                  <label for="DefaultExponential" class="text-xl"
                    >Exponential (Ex)</label
                  >
                </div>
                <div>
                  <input
                    type="checkbox"
                    class="w-4 h-4"
                    name="ensembleGroup"
                    id="Gompertz"
                    value="Gompertz"
                  />
                  <label for="Gompertz" class="text-xl"
                    >Estimated Gompertz (EGo)</label
                  >
                </div>
                <div>
                  <input
                    type="checkbox"
                    class="w-4 h-4"
                    name="ensembleGroup"
                    id="WeightedGompertz"
                    value="WeightedGompertz"
                  />
                  <label for="WeightedGompertz" class="text-xl"
                    >Estimated Weighted Gompertz (EWGo)</label
                  >
                </div>

                <!-- <div>
                  <input
                    type="checkbox" class="w-4 h-4"
                    name="ensembleGroup"
                    id="NewBurr"
                    value="NewBurr"
                  />
                  <label for="NewBurr">Estimated New Burr (ENB)</label>
                </div> -->
              </div>
            </div>
            <hr />
            <!-- all -->
            <div>
              <input
                type="radio"
                class="w-4 h-4"
                name="selected"
                id="all"
                value="all"
                onchange="toggleModelGroup()"
              />
              <label for="all" class="font-semibold text-orange-900 text-xl"
                >Tất cả</label
              >
            </div>
            <hr />
            <div class="flex gap-4">
              <label class="font-semibold text-orange-900 text-xl" for="pic"
                >Hình ảnh</label
              >
              <input
                type="file"
                name="image"
                id="imageInput"
                accept="image/*"
                onchange="displayImage(event)"
              />
            </div>
            <div
              id="imageLoader"
              class="flex justify-center items-center"
            ></div>

            <!-- Error -->
            <div
              class="bg-red-100 border border-l-4 border-red-500 text-red-700 px-4 py-3 rounded relative"
              role="alert"
              id="errorAlter"
              style="display: none"
            >
              <strong class="font-bold">Thông báo!</strong>
              <br />
              <span id="errorMessage" class="block sm:inline"></span>
              <span
                class="absolute top-0 bottom-0 right-0 px-4 py-3"
                onclick="hideErrorAlert()"
              >
                <svg
                  class="fill-current h-6 w-6 text-red-500"
                  role="button"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <title>Close</title>
                  <path
                    d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"
                  />
                </svg>
              </span>
            </div>

            <div class="dashed border-orange-950 border-2 border-dashed"></div>
            <div>
              <button
                class="bg-orange-400 border-2 text-white border-orange-950 p-2 rounded-xl"
                type="submit"
                form="ensemble-classification"
                value="submit"
              >
                Phân loại
              </button>
            </div>
          </form>
          <!-- <div class="dashed border-orange-950 border-2 border-dashed"></div>
          <div class="result flex flex-col gap-4">
            <p>Kết quả</p>
            <textarea name="" id=""></textarea>
          </div> -->
        </div>
      </div>
    </main>
    <footer class="bg-orange-200 noto-sans flex flex-col gap-4 text-center">
      <p class="text-xl text-orange-900 font-bold underline decoration-dotted">
        Đồ án được thực hiện bởi nhóm sinh viên của trường
      </p>
      <p class="text-lg font-medium">TP.HCM, 2024</p>
    </footer>

    <script>
      function toggleModelGroup() {
        var modelDiv = document.getElementById("modelDiv");
        var ensembleDiv = document.getElementById("ensembleDiv");

        if (document.getElementById("model").checked) {
          modelDiv.classList.remove("hidden");
          ensembleDiv.classList.add("hidden");
        } else if (document.getElementById("ensemble").checked) {
          modelDiv.classList.add("hidden");
          ensembleDiv.classList.remove("hidden");
        } else {
          modelDiv.classList.add("hidden");
          ensembleDiv.classList.add("hidden");
        }
      }

      function displayImage(event) {
        var file = event.target.files[0];

        if (file) {
          var imageType = file.type.split("/")[0];
          if (imageType !== "image") {
            // Hiển thị phần tử errorAlert nếu nó đang bị ẩn
            var errorAlert = document.getElementById("errorAlter");
            errorAlert.style.display = "block";
            event.target.value = ""; // Xóa giá trị đã chọn
            var errorMessageElement = document.getElementById("errorMessage");
            errorMessageElement.textContent =
              "Vui lòng chọn tệp có định dạng hình ảnh";
          }
        }
        var imageLoader = document.getElementById("imageLoader");
        imageLoader.innerHTML = ""; // Xóa bỏ nội dung hiện tại (nếu có)

        var selectedImage = event.target.files[0];
        var imageElement = document.createElement("img");
        imageElement.src = URL.createObjectURL(selectedImage);
        imageElement.style.maxHeight = "400px"; // Tùy chỉnh kích thước hình ảnh

        imageLoader.appendChild(imageElement);
      }

      function validateForm() {
        var selected = document.querySelector('input[name="selected"]:checked');

        if (!selected) {
          // Hiển thị phần tử errorAlert nếu nó đang bị ẩn
          var errorAlert = document.getElementById("errorAlter");
          errorAlert.style.display = "block";
          event.target.value = ""; // Xóa giá trị đã chọn
          var errorMessageElement = document.getElementById("errorMessage");
          errorMessageElement.textContent = "Vui lòng chọn kiểu phân loại";
          return false;
        }
        if (selected.value == "model") {
          var selectedModels = document.querySelectorAll(
            'input[name="modelGroup"]:checked'
          );
          if (selectedModels.length == 0) {
            // Hiển thị phần tử errorAlert nếu nó đang bị ẩn
            var errorAlert = document.getElementById("errorAlter");
            errorAlert.style.display = "block";
            event.target.value = ""; // Xóa giá trị đã chọn
            var errorMessageElement = document.getElementById("errorMessage");
            errorMessageElement.textContent = "Vui lòng chọn mô hình phân loại";
            return false;
          }
        }
        if (selected.value == "ensemble") {
          var selectedModels = document.querySelectorAll(
            'input[name="ensembleGroup"]:checked'
          );
          if (selectedModels.length == 0) {
            // Hiển thị phần tử errorAlert nếu nó đang bị ẩn
            var errorAlert = document.getElementById("errorAlter");
            errorAlert.style.display = "block";
            event.target.value = ""; // Xóa giá trị đã chọn
            var errorMessageElement = document.getElementById("errorMessage");
            errorMessageElement.textContent = "Vui lòng chọn hàm phân phối";
            return false;
          }
        }
        var imageInput = document.getElementById("imageInput");
        var selectedImage = imageInput.files[0];

        if (!selectedImage) {
          // Hiển thị phần tử errorAlert nếu nó đang bị ẩn
          var errorAlert = document.getElementById("errorAlter");
          errorAlert.style.display = "block";
          event.target.value = ""; // Xóa giá trị đã chọn
          var errorMessageElement = document.getElementById("errorMessage");
          errorMessageElement.textContent =
            "Vui lòng chọn hình ảnh muốn phân loại";
          return false;
        }
        return true;
      }
      function hideErrorAlert() {
        var errorAlert = document.getElementById("errorAlter");
        errorAlert.style.display = "none"; // Ẩn phần tử errorAlter
      }
    </script>
  </body>
</html>
